 body{
    background-color: rgb(18, 0, 54);
 }
 .back-home {
    position: fixed;
    top: 20px; left: 20px;
    color: rgb(195, 202, 249);
    text-decoration: none;
    z-index: 100;
}
 h1{
    color: #c2fff8;
    text-align: center;
 }
 h2{
    color: beige;
 }
 p{
    color: cornsilk;
 }
  a:hover{
     color:rgb(186, 249, 249)
        }
 a:active{
     color: rgb(169, 246, 150);
        }
 
