 body{
    background-color: rgb(18, 0, 54);
 }
 h1{
    color: #c2fff8;
    text-align: center;
 }

 a:link{
     color:rgb(243, 7, 7)
        }
 a:visited{
     color:rgb(195, 202, 249);
        }
 a:hover{
     color:rgb(186, 249, 249)
        }
 a:active{
     color: rgb(169, 246, 150);
        }
 
